<footer>
    <div class="footer-nav">
        <ul>
            <li><a href="">Digital product design</a></li>
            <li><a href="">Remote work</a></li>
            <li><a href="">UX design</a></li>
            <li><a href="">Distributed teams</a></li>
            <li><a href="">Creativity</a></li>
            <li><a href="">Strategy</a></li>
            <li><a href="">Suspense</a></li>
            <li><a href="">Growth</a></li>
        </ul>
    </div>
    <article>
        <h2>NODRIC ROSE</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Duis eu velit tempus erat 
            egestas efficitur. In hac habitasse platea
             dictumst. Fusce a nunc eget ligula suscipit finibus. 
            </p>
            <ul>
                <li><a href="">Twitter</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">RSS</a></li>
            </ul>
    </article>
    <div class="footer-footer">
        <p>© 2012–2020 Nordic Rose Co.. </p>
        <p> All rights reserved</p>
    </div>
</footer>